@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-nv: #0a0a0a;
  --color-dg: #1a1a1a;
  --color-pg: #3f3f46;
  --color-or: #ff914d; /* More of a copper/gold tone */
  --color-lb: #4f46e5;
  --color-yl: #eab308;
  
  --color-bg-prime: var(--bg);
  --color-bg-sec: var(--bg2);
  --color-bg-ter: var(--bg3);
  --color-sf: var(--sf);
  --color-bd: var(--bd);
  --color-bd2: var(--bd2);
  
  --color-tx: var(--tx);
  --color-t2: var(--t2);
  --color-t3: var(--t3);

  --color-gold: #FFD700;
  --color-silver: #E2E8F0;
  --color-bronze: #CD7F32;
}

@layer base {
  :root {
    --bg: #000000;
    --bg2: #111111;
    --bg3: #1a1a1a;
    --sf: rgba(255, 255, 255, 0.03);
    --bd: rgba(255, 255, 255, 0.08); /* subtle dark border */
    --bd2: rgba(255, 255, 255, 0.15);
    --tx: #f8fafc;
    --t2: #a1a1aa;
    --t3: #52525b;
    --sh: 0 10px 40px -10px rgba(0,0,0,0.8), inset 0 1px 1px rgba(255,255,255,0.05); /* CRED style card shadow */
  }

  [data-theme="light"] {
    --bg: #FAFAFA;
    --bg2: #FFFFFF;
    --bg3: #F4F4F5;
    --sf: rgba(0, 0, 0, 0.02);
    --bd: rgba(0, 0, 0, 0.06);
    --bd2: rgba(0, 0, 0, 0.12);
    --tx: #09090b;
    --t2: #52525b;
    --t3: #a1a1aa;
    --sh: 0 10px 40px -10px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 1);
  }

  body {
    background-color: var(--bg);
    color: var(--tx);
  }
}
